<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="updateProfile()">
    <app-input [(ngModel)]="user.name" name="name" label="Nombre"></app-input>
    <app-input [(ngModel)]="user.lastName" name="lastName" label="Apellido"></app-input>
    <app-input [(ngModel)]="user.email" name="email" label="Correo" type="email"></app-input>
    <app-input [(ngModel)]="user.password" name="password" label="Contraseña" type="password"></app-input>

    <app-select [(ngModel)]="user.country" name="country" [options]="countries" label="País"></app-select>

    <app-button type="submit">Actualizar Perfil</app-button>
  </form>
</ion-content>
