<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input label="Nombre" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Apellido" [(ngModel)]="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Correo electrónico" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Contraseña" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">País</ion-label>
      <ion-select [(ngModel)]="country">
        <ion-select-option *ngFor="let c of countries" [value]="c.name">
          {{ c.flag }} {{ c.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="register()">
    Crear cuenta
  </ion-button>
</ion-content>
